{% extends 'base.html.twig' %}

{% block title %}Costume index{% endblock %}

{% block body %}
    <h1>Costume index</h1>

    <table id="table_id" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>numModel</th>
                <th>color</th>
                <th>quantity</th>

                <th>createDate</th>
                <th>size</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for costume in costumes %}
            <tr>
                <td>{{ costume.id }}</td>
                <td>{{ costume.models.numModel }}</td>
                <td>{{ costume.models.color }}</td>
                <td>{{ costume.models.quantity }}</td>
                <td>{{ costume.models.createDate|date('Y-m-d H:i:s')}}</td>
                <td>{{ costume.size }}</td>
                <td>
                    <a href="{{ path('costume_show', {'id': costume.id}) }}">show</a>
                    <a href="{{ path('costume_edit', {'id': costume.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('costume_new') }}">Create new</a>
{% endblock %}
